//variables
$color-principal:black;
$color-secundario: white;
$color-fondo:black;



@import 'globales';
@import 'header';
@import 'presentacion';
@import 'productos';
@import 'footer';
@import 'contacto';
@import 'blog';
@import 'pagprod';
@import 'nosotros';


